/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

/* Coolers pallete https: //coolors.co/06aed5-086788-f0c808-fff1d0-dd1c1a */

/* Reset some default browser styles */
html,
body,
h1,
h2,
h3,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
    border: 0;
}


/* Set a background color and text color for the entire page */
body {
    background-color: #E7DFC6;
    color: #131B23;
    font-family: 'Josefin Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#footer {
    margin-top: auto;
} 

/* Style the header */
header {
    background-color: #BCD39C;
    color: #3B3622;
    padding: 20px;
    text-align: justify;
}

/* Style the navigation menu */

/* Basic Styles */
body {
    font-family: 'Josefin Sans',
        sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2274A5;
    color: #fff;
    padding: 20px;
}

#plant_buddy {
    font-size: 200%;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    float: left;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

.hero {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 40px;
    width: auto;
    object-fit: contain;
}

.hero_img {
    width: 75%;
    padding-top: 20px;
}

.hero,
h2 {
    text-align: center;
}

.weatherwidget-io {
    margin-bottom: 50px;
}

/* African Daisy page styles */

.grow_page_link {
    padding-left: 20px;
}

.flower_heading {
    padding-top: 2em;
    padding-left: 20px;
    padding-bottom: 1em;
}

#african_daisy_img {
    width: 50%;
    height: auto;
    object-fit: cover;
    text-align: center;
    margin: auto;
    display: block;
    padding-bottom: 20px;
}

.flex_container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 60px;
    padding-right: 20px;
}

.flower_container {
    padding-bottom: 20px;
}

.flex-container>div {
    background-color: #f1f1f1;
    width: 600px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 80px;
    justify-content: center;
}

.five_steps_container {
    width: 60%;
}

.five_steps_list li {
    padding: 5px;
}

/* Grow Page styles */
#grow_page_heading {
    padding-top: 75px;
}

.grow_list {
    padding-bottom: 10px;
}

.grow_links_container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 20px;
    text-align: center;
}

.grow_links_container img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

/* Contact Page Styles */

#contact_page_img {
    width: 50%;
    height: auto;
    object-fit: cover;
    text-align: center;
    margin: auto;
    display: block;
    padding-bottom: 20px;
}

/* Style the form element with a border around it */
form {
    border: 4px solid #E7DFC6;
    margin-bottom: 100px;
    width: 50%;
    margin-left: 25%
}

/* Add some padding and a grey background color to containers */
.container {
    padding: 10px;
    background-color: #E7DFC6;
}

/* Style the input elements and the submit button */
input[type=text],
input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type=checkbox] {
    margin-top: 16px;
}

/* Style the submit button */
input[type=submit] {
    background-color: #4B7F52;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }

    .five_steps_container {
        width: 75%;
    }

    body {
        height: 100vh;
    }

    #home_button {
        display: none;
    }
}

/* Footer */
#social-networks {
    background-color: #4B7F52;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    bottom: 0;
    width: 100%;
}

#social-networks i {
    font-size: 160%;
    padding: 0;
    color: white;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: #2274A5;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.nav-links li {
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px auto;
}

/* Style main content sections */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #E7DFC6;
}

.hero {
    margin-top: 30px;
}

.hero p {
    text-align: justify;
}

.grow_links_container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 75px;
}

.flower_container {
    margin-top: 50px;
}

.flex-container {
    padding-right: 20px;
}

#grow_page_heading {
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

#contact_page_img {
    width: 50%;
    height: auto;
    object-fit: cover;
    text-align: center;
    margin: auto;
    display: block;
    padding-bottom: 20px;
    padding-top: 100px;
}

form {
    width: 70%;
    margin-left: 15%
}


/* Style the footer */
footer {
    text-align: center;
    padding: 0;
    background-color: #4B7F52;
    color: #fff;

}